<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"  >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="actor, actress, agency, artist, find model, media, model, model agency, model agency script, model cms, model directory, model gallery, model listing, model portfolio,">
<meta name="keywords" content="actor, actress, agency, artist, find model, media, model, model agency, model agency script, model cms, model directory, model gallery, model listing, model portfolio,">
<link rel="shortcut icon" href="assets/uploads/logo/favicon.png" type="image/x-icon">

<link rel="apple-touch-icon" href="assets/uploads/logo/logo.png">
<title>LensQueen |     Booking Request Form</title>
<link rel="icon" type="image/png" sizes="16x16" href="assets/uploads/logo/favicon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="LensQueen |     Booking Request Form">

<meta itemprop="name" content="LensQueen |     Booking Request Form">
<meta itemprop="description" content="actor, actress, agency, artist, find model, media, model, model agency, model agency script, model cms, model directory, model gallery, model listing, model portfolio,">
<meta itemprop="image" content="assets/uploads/logo/meta.png600x315">

<meta property="og:type" content="website">
<meta property="og:title" content="LensQueen - Photographers Portfolio, Booking, and Digital Content Selling Platform">
<meta property="og:description" content="LensQueen- Photographers Portfolio, Booking, and Digital Content Selling Platform">
<meta property="og:image" content="assets/uploads/logo/meta.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:url" content="http://127.0.0.1:8000/temp-booking-date">

<meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans&family=Ubuntu:wght@300;400;500;700&display=swap">

    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/fontawesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/icofont.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/animate.css"/>

        <link rel="stylesheet" href="assets/themes/darkmode/css/bootstrap-fileinput.css">

    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="assets/themes/darkmode/css/slick-theme.css"/>

    <link rel="stylesheet" href="assets/themes/darkmode/css/color.php?primaryColor=d35400">

    <script src="assets/themes/darkmode/js/modernizr.custom.js"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="application/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="application/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- DASHBOARD-PAGE-LAYOUT -->
<div id="dashboard-page-layout" class="theme-dark">
    <!-- DASHBOARD-HEADER -->
    <header id="dashboard-header">
        <!-- NAVBAR | NAVBAR-LOGGEDIN -->
        <nav id="navbar" class="navbar-loggedin">
            <div class="container-fluid">
                <div class="navbar navbar-expand-md flex-wrap" id="pushNotificationArea">
                    <div class="d-flex">
                        <button class="sidenavbar-toggler mr-15 d-lg-none" type="button">
                            <div class="menu-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/uploads/logo/logo.png" alt="homepage">
                        </a>
                    </div>

                    <div class="account d-flex d-md-none">
                        <div class="d-flex">
                            <div class="dropdown account-dropdown responsive-menus">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                                    <i class="icofont-home"></i>
                                </a>
                                <div class="xs-dropdown-menu dropdown-menu dropdown-right">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" href="index.html">Home</a>
                                        <a class="dropdown-item" href="about.html">About Us</a>
                                        <a class="dropdown-item" href="services.html">Services</a>
                                        <a class="dropdown-item" href="blog.html">Blog</a>
                                        <a class="dropdown-item" href="gallery.html">Gallery </a>
                                        <a class="dropdown-item" href="shop.html">Shop </a>
                                        <a class="dropdown-item" href="contact.html">Contact</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="d-flex ml-20">
                            <li class="ml-20 push-notification " >
    <div class="dropdown account-dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="javascript:void(0)">
            <span class="rotate-icon">
                <i class="icofont-alarm"></i>
            </span>
            <span class="badge"  v-cloak>{{items.length}}</span>
        </a>
        <div class="xs-dropdown-menu dropdown-menu dropdown-right">
            <div class="dropdown-content scrolling-iv">

                <a v-for="(item, index) in items" @click.prevent="readAt(item.id, item.description.link)"  href="javascript:void(0)" class="dropdown-item">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i :class="item.description.icon" ></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular" v-cloak v-html="item.description.text"></h6>
                            <p v-cloak>{{ item.formatted_date }}</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="pt-15 pr-15 pb-15 pl-15 d-flex justify-content-center ">
                <a class="btn-viewnotification" href="javascript:void(0)" v-if="items.length == 0">You have no notifications</a>
                <button class="btn-clear " type="button" v-if="items.length > 0" @click.prevent="readAll">Clear</button>
            </div>
        </div>
    </div>
</li>


                            <li class="ml-20">
    <div class="dropdown account-dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <img src="assets/admin/images/default.png" alt="Profile Image">
        </a>
        <div class="dropdown-menu dropdown-right">
            <div class="dropdown-content">

                <a class="dropdown-item" href="http://127.0.0.1:8000/user/dashboard">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-dashboard"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">Dashboard</h6>
                        </div>
                    </div>
                </a>

                <a class="dropdown-item" href="http://127.0.0.1:8000/user/profile">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-gear-alt"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">My Profile</h6>
                            <p><i class="icofont-user-alt-7"></i><span class="ml-5">Set up all necessary info</span></p>
                        </div>
                    </div>
                </a>

                <a class="dropdown-item" href="http://127.0.0.1:8000/user/twostep-security">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-ssl-security"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">2FA Security</h6>
                        </div>
                    </div>
                </a>

                <a class="dropdown-item" href="http://127.0.0.1:8000/logout" onclick="event.preventDefault();
                         document.getElementById('logout-form').submit();">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-power"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">Logout</h6>
                        </div>
                    </div>
                </a>

                <form id="logout-form" action="http://127.0.0.1:8000/logout" method="POST" class="d-none">
                    <input type="hidden" name="_token" value="y3KKQnqF0gTDNMEfqGx71t5isQSNiYWP9V4Hkj7E">                </form>

            </div>
        </div>
    </div>
</li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse justify-content-end justify-content-md-between"
                         id="investmentnavbar">
                        <ul class="navbar-nav d-none d-md-flex">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="blog.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gallery.html">Gallery </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shop.html">Shop </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <div class="account">
                            <ul class="d-flex">
                                <li class="ml-20 push-notification " >
    <div class="dropdown account-dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="javascript:void(0)">
            <span class="rotate-icon">
                <i class="icofont-alarm"></i>
            </span>
            <span class="badge"  v-cloak>{{items.length}}</span>
        </a>
        <div class="xs-dropdown-menu dropdown-menu dropdown-right">
            <div class="dropdown-content scrolling-iv">

                <a v-for="(item, index) in items" @click.prevent="readAt(item.id, item.description.link)"  href="javascript:void(0)" class="dropdown-item">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i :class="item.description.icon" ></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular" v-cloak v-html="item.description.text"></h6>
                            <p v-cloak>{{ item.formatted_date }}</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="pt-15 pr-15 pb-15 pl-15 d-flex justify-content-center ">
                <a class="btn-viewnotification" href="javascript:void(0)" v-if="items.length == 0">You have no notifications</a>
                <button class="btn-clear " type="button" v-if="items.length > 0" @click.prevent="readAll">Clear</button>
            </div>
        </div>
    </div>
</li>


                                <li class="ml-20">
    <div class="dropdown account-dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <img src="assets/admin/images/default.png" alt="Profile Image">
        </a>
        <div class="dropdown-menu dropdown-right">
            <div class="dropdown-content">

                <a class="dropdown-item" href="http://127.0.0.1:8000/user/dashboard">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-dashboard"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">Dashboard</h6>
                        </div>
                    </div>
                </a>

                <a class="dropdown-item" href="http://127.0.0.1:8000/user/profile">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-gear-alt"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">My Profile</h6>
                            <p><i class="icofont-user-alt-7"></i><span class="ml-5">Set up all necessary info</span></p>
                        </div>
                    </div>
                </a>

                <a class="dropdown-item" href="http://127.0.0.1:8000/user/twostep-security">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-ssl-security"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">2FA Security</h6>
                        </div>
                    </div>
                </a>

                <a class="dropdown-item" href="http://127.0.0.1:8000/logout" onclick="event.preventDefault();
                         document.getElementById('logout-form').submit();">
                    <div class="media align-items-center">
                        <div class="media-icon">
                            <i class="icofont-power"></i>
                        </div>
                        <div class="media-body ml-15">
                            <h6 class="font-weight-regular">Logout</h6>
                        </div>
                    </div>
                </a>

                <form id="logout-form" action="http://127.0.0.1:8000/logout" method="POST" class="d-none">
                    <input type="hidden" name="_token" value="y3KKQnqF0gTDNMEfqGx71t5isQSNiYWP9V4Hkj7E">                </form>

            </div>
        </div>
    </div>
</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /NAVBAR -->


        <!-- SIDENAVBAR -->
        <div id="sidenavbar">
            <div class="sidenav-header">
                <p class="sidenav-close">&times;</p>
            </div>
            <div class="sidenavbar-wrapper">
                <div class="dashboard-nav">
                    <a class="das-nav nav-item  " href="http://127.0.0.1:8000/user/dashboard">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/db_nav_icon_1.png" alt="Dashboard Icon">
        </div>
        <span>Dashboard</span>
    </div>
</a>


<a class="das-nav nav-item" href="shop.html">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-favorite-cart-50.png" alt="Shop">
        </div>
        <span>Shop</span>
    </div>
</a>

<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/my-plans">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-plan-50.png" alt="MyPlans Icon">
        </div>
        <span>My Plans</span>
    </div>
</a>



<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/my-products">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-basket-64.png" alt="myProducts Icon">
        </div>
        <span>Purchased Item</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/wishlist">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-wish-list-50.png" alt="Wishlist Icon">
        </div>
        <span>Wishlist</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/my-booking">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-planner-64.png" alt="myBooking Icon">
        </div>
        <span>My Booking</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/payment-history">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/db_nav_icon_3.png" alt="Payment Icon">
        </div>
        <span>Payment History</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/profile">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/feature_1.png" alt="Profile Settings Icon">
        </div>
        <span>Profile Settings</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/ticket">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/feature_3.png" alt="Support Ticket Icon">
        </div>
        <span>Support Ticket</span>
    </div>
</a>
                </div>
            </div>
        </div>
        <!-- /SIDENAVBAR -->

            </header>
    <!-- DASHBOARD-HEADER -->

    <main id="page-container">


        <aside id="sidebar">
            <div class="dashboard-nav">
                <a class="das-nav nav-item  " href="http://127.0.0.1:8000/user/dashboard">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/db_nav_icon_1.png" alt="Dashboard Icon">
        </div>
        <span>Dashboard</span>
    </div>
</a>


<a class="das-nav nav-item" href="shop.html">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-favorite-cart-50.png" alt="Shop">
        </div>
        <span>Shop</span>
    </div>
</a>

<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/my-plans">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-plan-50.png" alt="MyPlans Icon">
        </div>
        <span>My Plans</span>
    </div>
</a>



<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/my-products">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-basket-64.png" alt="myProducts Icon">
        </div>
        <span>Purchased Item</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/wishlist">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-wish-list-50.png" alt="Wishlist Icon">
        </div>
        <span>Wishlist</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/my-booking">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/icons8-planner-64.png" alt="myBooking Icon">
        </div>
        <span>My Booking</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/payment-history">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/db_nav_icon_3.png" alt="Payment Icon">
        </div>
        <span>Payment History</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/profile">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/feature_1.png" alt="Profile Settings Icon">
        </div>
        <span>Profile Settings</span>
    </div>
</a>


<a class="das-nav nav-item " href="http://127.0.0.1:8000/user/ticket">
    <div class="icon-wrapper">
        <div class="nav-icon">
            <img src="assets/themes/darkmode/images/icon/feature_3.png" alt="Support Ticket Icon">
        </div>
        <span>Support Ticket</span>
    </div>
</a>
            </div>
        </aside>


        
<section id="dashboard" class="py-5 pb-0">
    <div class="feature-wrapper">
        <div class="container py-5 pb-0">
            <div class="row justify-content-center py-5 pb-0">
                <div class="col-md-12">

                    <div class="card bg-booking">
                        <div class="card-header text-center border-white">
                            <h5 class="card-title text-white text-22 p-3">Additional Information To Plan Confirm</h5>
                        </div>

                        <div>
                            <div class="card-body">
                                <form action="http://127.0.0.1:8000/user/booking/request/form/submit" method="post" enctype="multipart/form-data" class="form-row text-left preview-form">
                                    <input type="hidden" name="_token" value="y3KKQnqF0gTDNMEfqGx71t5isQSNiYWP9V4Hkj7E">                                                                                                                                                                        <div class="col-md-12">
                                                    <div class="form-group  mt-2">
                                                        <label class="text-white text-16"><strong>Name                                                             <span class="text-danger">*</span>  </strong>
                                                        </label>
                                                        <input type="text" name="Name"
                                                                class="form-control bg-transparent text-white py-4 text-16"
                                                                 required >
                                                                                                            </div>
                                                </div>
                                                                                                                                                                                <div class="col-md-12">
                                                    <div class="form-group  mt-2">
                                                        <label class="text-white text-16"><strong>Phone Number                                                             <span class="text-danger">*</span>  </strong>
                                                        </label>
                                                        <input type="text" name="PhoneNumber"
                                                                class="form-control bg-transparent text-white py-4 text-16"
                                                                 required >
                                                                                                            </div>
                                                </div>
                                                                                                                                                                                <div class="col-md-12">
                                                    <div class="form-group  mt-2">
                                                        <label class="text-white text-16"><strong>NID Number </strong>
                                                        </label>
                                                        <input type="text" name="NIDNumber"
                                                                class="form-control bg-transparent text-white py-4 text-16"
                                                                >
                                                                                                            </div>
                                                </div>
                                                                                                                                                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="text-white text-16"><strong>Details  </strong>
                                                        </label>
                                                        <textarea name="Details" class="form-control bg-transparent text-16 text-white" rows="3" ></textarea>
                                                                                                            </div>
                                                </div>
                                                                                                                                
                                                <div class="col-md-4">
                                                    <label class="text-white text-16"><strong>Image  </strong>
                                                    </label>

                                                    <div class="form-group mt-2">
                                                        <div class="fileinput fileinput-new " data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail bookingForm-thumbnail"
                                                                    data-trigger="fileinput">
                                                                <img class="w-150px"
                                                                        src="assets/admin/images/default.png"
                                                                        alt="Booking form image">
                                                            </div>
                                                            <div
                                                                class="fileinput-preview fileinput-exists thumbnail wh-200-150"></div>

                                                            <div class="img-input-div">
                                                                <span class="btn btn-outline-primary btn-file">
                                                                    <span
                                                                        class="fileinput-new text-16"> Select Image</span>
                                                                    <span
                                                                        class="fileinput-exists"> Change</span>
                                                                    <input type="file" name="Image" accept="image/*"
                                                                            >
                                                                </span>
                                                                <a href="#" class="btn btn-outline-danger fileinput-exists"
                                                                    data-dismiss="fileinput"> Remove</a>
                                                            </div>

                                                        </div>
                                                                                                            </div>
                                                </div>
                                                                                                                                
                                                <div class="col-md-4">
                                                    <label class="text-white text-16"><strong>Nid                                                                 <span class="text-danger">*</span>   </strong>
                                                    </label>

                                                    <div class="form-group mt-2">
                                                        <div class="fileinput fileinput-new " data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail bookingForm-thumbnail"
                                                                    data-trigger="fileinput">
                                                                <img class="w-150px"
                                                                        src="assets/admin/images/default.png"
                                                                        alt="Booking form image">
                                                            </div>
                                                            <div
                                                                class="fileinput-preview fileinput-exists thumbnail wh-200-150"></div>

                                                            <div class="img-input-div">
                                                                <span class="btn btn-outline-primary btn-file">
                                                                    <span
                                                                        class="fileinput-new text-16"> Select Nid</span>
                                                                    <span
                                                                        class="fileinput-exists"> Change</span>
                                                                    <input type="file" name="Nid" accept="image/*"
                                                                             required >
                                                                </span>
                                                                <a href="#" class="btn btn-outline-danger fileinput-exists"
                                                                    data-dismiss="fileinput"> Remove</a>
                                                            </div>

                                                        </div>
                                                                                                            </div>
                                                </div>
                                                                                                                        
                                    <input type="hidden" name='date' value=>


                                    <div class="col-md-12">
                                        <div class=" form-group">
                                            <button type="submit" class="btn btn-f-button btn-block mt-3">
                                                <span>Confirm Now</span>
                                            </button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>



                    </div>


                </div>
            </div>

        </div>
    </div>
</section>


    </main>
</div>
<!-- /DASHBOARD-PAGE-LAYOUT -->




<script src="assets/themes/darkmode/js/jquery-3.6.0.min.js"></script>
<script src="assets/themes/darkmode/js/jquery-ui.min.js"></script>
<script src="assets/themes/darkmode/js/popper.min.js"></script>
<script src="assets/themes/darkmode/js/bootstrap.min.js"></script>

    <script src="assets/themes/darkmode/js/bootstrap-fileinput.js"></script>

<script src="assets/themes/darkmode/js/notiflix-aio-2.7.0.min.js"></script>
<script src="assets/themes/darkmode/js/wow.min.js"></script>
<script src="assets/themes/darkmode/js/jquery.flagstrap.min.js"></script>
<script src="assets/themes/darkmode/js/slick.min.js"></script>
<script src="assets/themes/darkmode/js/multi-animated-counter.js"></script>

<script src="assets/themes/darkmode/js/pusher.min.js"></script>
<script src="assets/themes/darkmode/js/vue.min.js"></script>
<script src="assets/themes/darkmode/js/axios.min.js"></script>

<script src="assets/themes/darkmode/js/script.js"></script>



<script>
    'use strict';
    let pushNotificationArea = new Vue({
        el: "#pushNotificationArea",
        data: {
            items: [],
        },
        mounted() {
            this.getNotifications();
            this.pushNewItem();
        },
        methods: {
            getNotifications() {
                let app = this;
                axios.get("http://127.0.0.1:8000/user/push-notification-show")
                    .then(function (res) {
                        app.items = res.data;
                    })
            },
            readAt(id, link) {
                let app = this;
                let url = "http://127.0.0.1:8000/user/push-notification-readAt/0";
                url = url.replace(/.$/, id);
                axios.get(url)
                    .then(function (res) {
                        if (res.status) {
                            app.getNotifications();
                            if (link != '#') {
                                window.location.href = link
                            }
                        }
                    })
            },
            readAll() {
                let app = this;
                let url = "http://127.0.0.1:8000/user/push.notification.readAll";
                axios.get(url)
                    .then(function (res) {
                        if (res.status) {
                            app.items = [];
                        }
                    })
            },
            pushNewItem() {
                let app = this;
                // Pusher.logToConsole = true;
                let pusher = new Pusher("4e562a249c39a1057d2e", {
                    encrypted: true,
                    cluster: "ap2"
                });
                let channel = pusher.subscribe('user-notification.' + "");
                channel.bind('App\\Events\\UserNotification', function (data) {
                    app.items.unshift(data.message);
                });
                channel.bind('App\\Events\\UpdateUserNotification', function (data) {
                    app.getNotifications();
                });
            }
        }
    });
</script>




<script>
    $(document).ready(function () {
        $(".language").find("select").change(function(){
            window.location.href = "http://127.0.0.1:8000/language/"+$(this).val()
        })
    })
</script>

    <script>
        $(document).ready(function() {
            var urlParams = new URLSearchParams(window.location.search);
            var dateParam = urlParams.get('date');
            if (dateParam) {
                // Set the value of the date input
                $('input[name="date"]').val(dateParam);
                
                // Add a text message showing the selected date to the user
                $('.card-title').after('<div class="alert alert-info text-center text-16" style="background: rgba(255,255,255,0.1); border: none; color: white;">Selected Date: ' + dateParam + '</div>');
            }
        });
    </script>
</body>
</html>
